<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klinovvlad.task1klinov">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task1klinov">

        <receiver
            android:name=".receiver.MainReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.klinovvlad.action.OPEN_LAST_ITEM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".mvp.view.ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MainService" />
    </application>

</manifest>